body {
  margin: 0px;
  background: #f6f5f5;
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 50px;
}

.main-div {
  display: inline-flex;
  flex-direction: row;
  gap: 120px;
  /*border: 2px solid gold;*/
  width: 100%;
}

.word-grid {
  display: block;
  /*border: 2px solid pink;*/
  width: 60%;
}

.word-add {
  display: block flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

  /*border: 2px solid blue;*/
  width: 30%;
}

.input-panel {
  /*border: 2px solid red;*/
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: seagreen;
}

.blue {
  background-color: dodgerblue;
}

.purple {
  background-color: mediumpurple;
}

.square {
  background: #dadada;
  border: none;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  width: 120px;
  margin: 10px;
  border-radius: 5px;
  /*padding: 0px;*/
  text-align: center;
}


