body {
  margin: 0px;
  background: #f6f5f5;
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 50px;
}

.create-cont {
  display: inline-flex;
  flex-direction: row;
  gap: 120px;
  /*border: 2px solid gold;*/
  width: 100%;
}

.puzzle-cont {
  display: block;
  width: fit-content;
  align-self: baseline;
  margin: auto;
}

.word-add {
  display: block flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;

  /*border: 2px solid blue;*/
  width: 30%;
  margin-bottom: 30px;
}

.word-grid {
  display: block flex;
  flex-flow: row wrap;
  /*border: 2px solid pink;*/
  width: 650px;
  margin-bottom: 30px;
}

.square {
  background: #e3e3da;
  color: black;
  border: none;
  font-size: 2.2vw;
  font-weight: bold;
  height: 70px;
  width: 140px;
  margin: 5px;
  border-radius: 5px;
  /*padding: 0px;*/
  text-align: center;
}

.input-panel {
  /*border: 2px solid red;*/
}

.yellow {
  background-color: #fafa47;
}

.green {
  background-color: #43b64d;
}

.blue {
  background-color: dodgerblue;
}

.purple {
  background-color: mediumpurple;
}


.selected {
  background: #707065;
  color: white;
}

.puzzle-container {
  display: block flex;
  align-content: center;
}

.row {
  display: block flex;
  flex-direction: row;
}

.bottom-buttons {
  display: block flex;
  flex-direction: row;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #676262;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.mistakes {
  display: block flex;
  flex-direction: row;
}

.title-cont {
  display: block flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.title {
  font-size: 40px;
}

.author {
  font-size: 16px;
}

.puzzle-bottom {
  /*border: 2px solid red;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: baseline;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  /*border: 2px solid pink;*/
  width: 100%;
}

.puzzle-button {
  border-radius: 5px;
}

.submit-button {
  width: 50%;
}

.answer-feedback {
  background-color: #676262;
  color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: auto;
  padding: 15px;
}


