:root {
  --yellow: #F9DF84;
  --green: #a0c35a;
  --blue: #b0c4ef;
  --purple: #ba81c5;
  --background: #f6f5f5;
  --highlight: #5a594e;
  --square-height: 75px;
}

body {
  margin: 0;
  background: var(--background);
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

/* --- CREATE SCREEN --- */

.title {
  font-size: 50px;
}

.create-cont {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  /*gap: 20px;*/
  /*border: 2px solid gold;*/
  width: 100%;
}

.word-add {
  display: block flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;

  /*border: 2px solid blue;*/
  width: 45%;
  margin-bottom: 30px;
}

.input-panel {
  /*border: 2px solid pink;*/
  padding: 2%;
}

h3 {
  /*border: 2px solid black;*/
  margin: 5px 0 5px 0px;
}

h4 {
  margin: 2px 0 2px 0;
}

.title-label {
  width: 60%;
  /*border: 2px solid blue;*/
}

.item-label {
  width: 85%;
}

.word-grid-cont {
  display: flex;
  flex-flow: column;
  /*border: 2px solid red;*/
  height: fit-content;
}

.word-grid {
  display: block flex;
  flex-flow: row wrap;
  justify-content: center;
  /*border: 2px solid red;*/
  width: calc(9 * var(--square-height));
  height: fit-content;
  margin-bottom: 30px;
}

.drag-text {
  align-self: center;
  font-size: 18px;
}

.shuffle-button {
  width: 25%;
  height: 35px;
  margin: auto;
  /*border: 2px solid red;*/
  font-size: 18px;
  border-radius: 30px;
  background-color: var(--background);
}

.square {
  background: #e3e3da;
  color: black;
  border: none;
  font-size: 1.5vw;
  font-weight: bold;
  height: var(--square-height);
  width: calc(2 * var(--square-height));
  border-radius: 6px;
  margin: 4px;
  justify-content: center;
  cursor: pointer; /*Makes the cursor different when you hover*/
  overflow: hidden;
  word-break: break-word;
}

.selected {
  background: var(--highlight);
  color: white;
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--purple);
}

/* --- PUZZLE SCREEN --- */

.puzzle-cont {
  display: block;
  width: fit-content;
  align-self: baseline;
  margin: auto;
  /*border: 2px solid gold;*/
}

.puzzle-grid {
  margin-bottom: 60px;
}

.puzzle-container {
  display: block flex;
  align-content: center;
}

.row {
  display: block flex;
  flex-direction: row;
}

.bottom-buttons {
  display: block flex;
  flex-direction: row;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #5a594e;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.mistakes {
  display: block flex;
  flex-direction: row;
}

.title-cont {
  display: block flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.puzzle-title {
  font-size: 40px;
}

.author {
  font-size: 16px;
}

.puzzle-bottom {
  /*border: 2px solid red;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: baseline;
}

.mistakes {
  margin: auto;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  /*border: 2px solid pink;*/
  margin: 18px auto auto;
  width: 100%;
}

.puzzle-button {
  border-radius: 35px;
  border-width: 1px;
  background-color: var(--background);
  width: 12%;
  height: 50px;
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
}

.puzzle-button:enabled {
  cursor: pointer;
}

.deselect {
  width: 18%;
}

.submit:enabled {
  background-color: black;
  color: var(--background);
}

.answer-feedback {
  background-color: #676262;
  color: var(--background);
  width: 200px;
  height: 50px;
  text-align: center;
  margin: auto;
  padding: 15px;
  transition: color 3s;
}

.solved-display {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
  /*border: 2px solid blue;*/
  /*24 because it's 3 * gap*/
  width: calc(8 * var(--square-height) + 24px);
  margin: 5px auto;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  height: var(--square-height);
}



